/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    background: #e8e8e8;
}
.wrapper {
    width: 100%;
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 143px 0 0 381px;
}
.main {
    width: 547px;
    height: 100vh;
    &__list {
        & li {
            color: #273d46;
            font-size: 20px;
            font-weight: 400;
            line-height: 36px;
            transition: all 1s ease 0s;
        }
        & li:before {
            content: "";
            display: inline-flex;
            width: 25px;
            height: 19px;
            background: url("../img/checkBlue.png") 0 0 no-repeat;
            margin-right: 10px;
            transition: all 1s ease 0s;
        }
        & li:first-child {
            color: #273d46;
            text-decoration: line-through;
        }
        & li:nth-child(2) {
            color: #273d46;
            font-weight: bold;
        }
        & li:nth-child(3) {
            color: #273d46;
            font-style: italic;
        }
        & li:nth-child(4) {
            color: #273d46;
            text-transform: uppercase;
            margin-bottom: 61px;
        }
        & li:last-child {
            margin-bottom: 129px;
        }
        & li:hover {
            color: red;
            transition: all 1s ease 0s;
        }
        & li:hover:before {
            background: url("../img/checkRed.png") 0 0 no-repeat;
            transition: all 1s ease 0s;
        }
    }
    &__container {
        &_button {
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 2.8px;
            border-radius: 22px;
            background: #80b7b3;
            padding: 17px 30px;
            line-height: 14px;
            font-size: 14px;
            display: inline-flex;
            margin-left: 20px;
            box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
            transition: all 1s ease 0s;
        }

        &_button::after {
            content: "";
            display: inline-block;
            width: 21px;
            height: 14px;
            background: url("../img/shape.png") 0 0 no-repeat;
            margin-left: 11px;
        }
        &_button:hover {
            background: #3a5856;
            box-shadow: 0 6px 40px #3a5856;
        }
        &_button:active {
            background: #818181;
            box-shadow: 0 6px 40px #616161;
        }
    }
    &__text {
        margin: 109px 0 20px 0;
        color: #5c5b5b;
        font-size: 18px;
        line-height: 28px;
        &_first {
            margin-bottom: 32px;
        }
        &_first::first-line {
            color: red;
        }
        &_second::first-letter {
            color: red;
        }
    }
}
